/* remove the basic styling */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg,#D6A2E8,#82589F,#3B3B98,#2c2c54);
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header,form{
    height:20vh;
    display:flex;
    justify-content: center;
    align-items: center; 
}

form input,form button{
    padding:0.5rem;
    font-size:2rem;
    border:none;
    background: white;
}
form button{
    color:white;
    background:#D980FA ;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    color: #D980FA;
    background: white;
}
.todo-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin:2px 0;
    background:white;
    color:black;
    font-size: 1.5 rem;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    transition:all 0.5s ease;
}
.todo li{
    flex:1;
}
.trash-btn ,.complete-btn
{
    background: rgb(214, 142, 33);
    color:white;
    border:none;
    padding:1rem;
    font-size: 1rem;
    cursor: pointer;
}
.complete-btn{
    background: rgb(56, 201, 56);
}
.todo-item{
    padding:0rem 0.5rem;
}
/* we can't click on the icon anymore */
.fa-trash,.fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.7;
}

/* transisation after dellete */
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


/* we can't style the predefined the select tag so we remove the predefined style and then style accordingly*/

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
   
}
.select{
    margin:1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: #2c2c54;
    width:10rem;
    cursor:pointer;
    padding :1rem
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: #EAB543;
    top:0;
    right:0;
    padding:1rem;
    pointer-events: none;
}
.select:hover::after{
    background: #2c2c54;
    color:#EAB543;
}